**/.DS_Store
**/.git
**/.vscode
**/dist
**/.files
**/k8s
**/tmp
**/coverage
**/.editorconfig
**/.gitignore
**/.gitlab-ci.yml
**/docker-compose.yml
**/Dockerfile
**/skaffold.yml
**/README.md

**/node_modules

node_modules
.git
.gitignore

npm-debug.log
schema.*
*.env
